* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f1f5f9;  
  color: #0f172a;
}

/* card */
.form {
  max-width: 650px;
  margin: 0 auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
}

.form h2 {
  color: #2563eb;       
  margin-bottom: 18px;
  text-align: center;
}


#addGameForm, #registerForm > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 16px;
}
/* radio + checkbox labels */
#addGameForm, #registerForm label {
  font-weight: normal;
}

label, p {
  font-weight: bold;
}

/* inputs */
select {
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 1rem;
}
input[type="text"] {
  padding: 10px;
  border-radius: .75rem;
  
}
input[type="checkbox"]{
  display: inline-block;
  cursor: pointer;
}
.genre-item {
  display: flex;
  align-items: center;
  margin: .45rem 0 .5rem 0;
  gap: 16px;
  cursor: pointer;
}


/* button */
button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

/* error */
.err {
  color: darkred;
  font-size: 0.9rem;
  display: none; 
}