* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body and title */
:root{
  --primary-color: #1e588a;
  --accent-color: #2563eb;
  --secondary-color: #000000;
  --gradient-color: #cbd5e1;
  --background-color: #f0f4ff;
  --error-color: #dc2626;
}
body {
  font-family: "Audiowide", sans-serif;
  letter-spacing: 2px;
  background: #f1f5f9;  
  color: var(--secondary-color);
}

/* card */
.form {
  max-width: 650px;
  margin: 0 auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
}

.form h2 {
  color: #2563eb;       
  margin-bottom: 18px;
  text-align: center;
}



/* form layout */
#addGameForm, #registerForm div {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 10px;
  gap: 16px;

}

/* radio + checkbox labels */
#registerForm label {
  font-weight: normal;
}

/* fieldset layout */
#addGameForm fieldset {
  border-top: 1px solid var(--secondary-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 20px 10px 16px;
  margin: 20px 0;
  border-radius: 8px;
}

fieldset legend{
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-color);
}
#addGameForm legend {
  margin-bottom: 12px;
}
#addGameForm fieldset > div{
  gap: 12px;
  margin-bottom: 16px;

}

label, p {
  font-weight: bold;
}

/* inputs */
select {
  padding: 12px;
  border: 1px solid var(--gradient-color);
  border-radius: 8px;
  font-size: 1rem;
}
input[type="text"], input[type="password"] {
  padding: 10px;
  border-radius: .75rem;
  
}
#addGameForm div label input[type="radio"] {
  margin-right: 6px;
}

#addGameForm div label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: normal;
}

#addGameForm h3 + div {
  flex-direction: row !important;
  flex-wrap: wrap;
  gap: 20px;
}

input[type="checkbox"]{
  cursor: pointer;
}
.genre-item {
  display: flex;
  align-items: center;
  margin: .45rem 0 .5rem 0;
  gap: 16px;
  cursor: pointer;
}
.genres {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
  width: 100%;
}
.genre-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.gen{
  text-align: center;
}
textarea {
  width: 100%;
  min-height: 120px;
  padding: 12px;
  border: 1px solid var(--gradient-color);
  border-radius: 8px;
  font-size: 1rem;
  resize: vertical;
}


/* button */
button {
  background: var(--accent-color);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: var(--primary-color);
}

/* error */
.err {
  color: var(--error-color);
  font-size: 0.9rem;
  display: none; 
}
