* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --primary-color: #1e588a;
  --accent-color: #2563eb;
  --secondary-color: #000000;
  --gradient-color: #cbd5e1;
  --background-color: #f0f4ff;
  --error-color: #dc2626;
}


body {
  font-family: "Audiowide", sans-serif;
    background-color: var(--background-color);
    color: var(--secondary-color);
    user-select: none;
    text-align: center;
}

h1 {
    margin: 40px 0 30px;
    font-size: 2rem;
    color: var(--secondary-color);
    text-emphasis: none;
    font-family: "Audiowide", sans-serif;
}
a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;  
    padding-bottom: 50px;
}

.container section {
    background-image: linear-gradient(to top, var(--background-color), var(--primary-color));
    width: 280px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container section:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
}

.container section h2 {
    margin-bottom: 15px;
    color: var(--secondary-color);

}

.container section img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.logo-container{
    text-align: center;
    padding: 60px 0 40px;
    background: linear-gradient(
        to bottom,
        var(--primary-color) 0%,
        var(--gradient-color) 40%,
        var(--background-color) 100%
    );
}

.game-logo{
    font-family: "Audiowide", sans-serif;
    font-size: 70px;
    letter-spacing: 4px;
    color: var(--secondary-color);
    pointer-events: none;
    user-select: none;
    text-shadow: 0 4px 10px rgba(0,0,0,0.35);
}
.game-logo:hover{
    text-shadow:
        0 0 10px rgba(45,95,138,0.6),
        0 0 20px rgba(45,95,138,0.4);
}

.welcome-message{
    text-align:center;
    margin-top:5px;
    margin-bottom:45px;
    color:#1b7694;
}